@using MvcOnlineTicariOtomasyon.Models.Sınıflar;
@model List<KargoTakip>
@{
    ViewBag.Title = "KargoTakip";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-hover" style="margin-top: 30px; margin-left: 30px;">
    <tr>
        <th>Açıklama</th>
        <th>Tarih</th>
     
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Aciklama</td>
            <td>@x.TarihZaman.ToShortDateString()</td>
        </tr>
    }
</table>

