
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<div>
    @using (Html.BeginForm("Index", "QR", FormMethod.Post))
    {
        <input type="text" name="kod" style="margin-left: 30px;"/>
        <input type="submit" value="QR Oluştur" style="margin-left: 30px;"/>
    }
    <br />
    @if (ViewBag.karekodimage != null)
            {
                <img src="@ViewBag.karekodimage" alt="" style="width:400px; height:400px; margin-left:30px;" />
            }
</div>

