@model MvcOnlineTicariOtomasyon.Models.Sınıflar.Kategori
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2 style="margin-left: 30px">Kategori Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.KategoriAd, new { style = "margin-left: 30px" })
        @Html.TextBoxFor(x => x.KategoriAd, new { style = "margin-left: 30px", @class = "form-control" })
        @Html.HiddenFor(x=>x.KategoriID)
    </div>
    <button style="margin-left: 30px" class="btn btn-warning">Güncelle</button>
}
